{% extends 'base.html.twig' %}

{% block title %}Nouvelle Adresse Email{% endblock %}

{% block body %}
<div class="container-fluid col-7">
    <h1>Créate nouvelle adresse Email</h1>

    {{ include('email_adresse/_form.html.twig') }}
</div>        
{% endblock %}
