<form method="post" action="{{ path('app_groupe_cursus_delete', {'id': groupe_cursu.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce gourpe cursus?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ groupe_cursu.id) }}">
    <button class="btn btn-small btn-secondary mt-3">Delete</button>
</form>
