<form method="post" action="{{ path('app_role_delete', {'id': role.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce role?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ role.id) }}">
    <button class="btn btn-small btn-secondary mt-3">Supprimer</button>
</form>
