{% extends 'base.html.twig' %}

{% block title %}Nouveau Role{% endblock %}

{% block body %}
    <h1>Creer un nouveau role</h1>

    {{ include('role/_form.html.twig') }}

    <a href="{{ path('app_role_index') }}">Retour à la liste</a>
{% endblock %}
