{% extends 'base.html.twig' %}


{% block title %}Edit Cursus{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<div class=" text-light w-90 align-items-center center">
    <h1 class="m-3">Modifier {{cursu.libelle}}</h1>
        {{ include('cursus/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class='d-flex w-100 justfify-content-center'>
        {{ include('cursus/_delete_form.html.twig') }} 
    </div>
</div>
{% endif %}
{% endblock %}
