{% extends 'base.html.twig' %}

{% block title %}New Cursus{% endblock %}

{% block body %}
<div class="container d-flex justify-content-between  flex-wrap p-4">
<div class="w-100 text-center text-light">
    <h1>Creer une formation</h1>
 </div>
    <div class="cards w-100">
        <div class=" box">
            <div class="content text-light">
                <div class='d-flex'>
                    {{ include('cursus/_form.html.twig') }}
                </div>
            </div>
            
        </div>
        
    </div>
</div>
{% endblock %}
