{% extends 'base.html.twig' %}

{% block title %}New Cursus{% endblock %}

{% block body %}
<div class=" text-light w-90 align-items-center center">
    <h1>Creer une Formation</h1>
    {{ include('cursus/_form.html.twig') }}
</div>
{% endblock %}
