{% extends 'base.html.twig' %}

{% block title %}Nouveau Type Personne{% endblock %}

{% block body %}
<div class="container-fluid col-7">
    <h1 class="text-center text-info">Créate nouveau Type Personne</h1>

    {{ include('type_personne/_form.html.twig') }}
</div>    
{% endblock %}
